pipeline/pipeline/1_Step.json
{
	"name": "1_Step",
	"properties": {
		"activities": [
			{
				"name": "Param_Conexao",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PADFCredenciais_v2]",
						"storedProcedureParameters": {
							"COD_TABELA": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.ParCodTabela",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DW",
						"type": "DatasetReference",
						"parameters": {
							"NM_TABELA": "Tabela"
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": []
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Param_Conexao",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"ifTrueActivities": [
						{
							"name": "ServerName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ServerName",
								"value": {
									"value": "@activity('Param_Conexao').output.firstRow.NOM_SERVER",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ServerDB",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ServerDB",
								"value": ""
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ParCodTabela": {
				"type": "string"
			}
		},
		"variables": {
			"ServerName": {
				"type": "String"
			},
			"ServerDB": {
				"type": "String"
			},
			"UserName": {
				"type": "String"
			},
			"Password": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DW"
		},
		"annotations": []
	}
}