pipeline/pipeline/AJ DW.json
{
	"name": "AJ DW",
	"properties": {
		"activities": [
			{
				"name": "Copy data HTML",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "nm_tabela",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT * FROM ',variables('nm_tabela'))",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Tasy_Ciclo",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AZ_COPY_SQL_DW",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data SADALLA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "nm_tabela",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT * FROM ',variables('nm_tabela'))",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AZ_TASY_SADALLA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AZ_COPY_SQL_DW",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "nm_tabela",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "nm_tabela",
					"value": "vw_conta_paciente_resumo"
				}
			}
		],
		"variables": {
			"nm_tabela": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Warehouse/Outros"
		},
		"annotations": []
	}
}