pipeline/pipeline/CARGA_DINAMICA_ADF_TASY_ONPREMISES.json
{
	"name": "CARGA_DINAMICA_ADF_TASY_ONPREMISES",
	"properties": {
		"activities": [
			{
				"name": "LISTA ORIGEM DESTINO",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FOR EACH DISABLE INDEX",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.05:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[adf].[sp_origem_destino_tasy]",
						"storedProcedureParameters": {
							"COD_TABELA": {
								"type": "String",
								"value": null
							},
							"Dt_inicio_manual": {
								"type": "DateTime",
								"value": null
							},
							"manual": {
								"type": "String",
								"value": "N"
							},
							"nome_keyvault_secret": {
								"type": "String",
								"value": "SadallaTasy"
							},
							"plataforma": {
								"type": "String",
								"value": "Tasy"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LISTA_TABELAS_ADF",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "PROCESSA ETL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LIMPA TABELAS DESTINO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LISTA ORIGEM DESTINO').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "SE CARGA COMPLETA",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().TIPO_CARGA,'COMPLETA')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "DATA_HORA_INICIO_PARCIAL",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "StartTime",
											"value": {
												"value": "@replace(string(convertTimeZone(utcnow(),'UTC','E. South America Standard Time') ),'T',' ')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "CARGA PARCIAL",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "DATA_HORA_INICIO_PARCIAL",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.05:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "@concat(\n'select * from ', item().NOME_SCHEMA_ORIGEM,'.',item().NOME_TABELA_ORIGEM,' where ', item().nome_coluna_referencia,' >= ''',\nitem().Data_Inicio, ''' and  ', item().nome_coluna_referencia,' <= ''', item().Data_Fim, ''''\n)",
													"type": "Expression"
												},
												"partitionOption": "None",
												"convertDecimalToInteger": false,
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ORACLE_DINAMICO",
												"type": "DatasetReference",
												"parameters": {
													"NOME_KEYVAULT_SECRET": "@item().NOME_KEYVAULT_SECRET",
													"schema_name": "@item().NOME_SCHEMA_ORIGEM",
													"table_name": "@item().NOME_TABELA_ORIGEM"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DESTINO_TABELAS_ADF",
												"type": "DatasetReference",
												"parameters": {
													"Schema_Destino": {
														"value": "@item().NOME_SCHEMA_DESTINO",
														"type": "Expression"
													},
													"Tabela_Destino": {
														"value": "@item().NOME_TABELA_DESTINO",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "LOG PROCESSAMENTO PARCIAL SUCESSO",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CARGA PARCIAL",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.05:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[adf].[SP_LOG_PROCESSAMENTO]",
											"storedProcedureParameters": {
												"CODIGO_TABELA": {
													"value": {
														"value": "@item().codigo_tabela",
														"type": "Expression"
													},
													"type": "String"
												},
												"COMANDO_SQL": {
													"value": {
														"value": "@concat(' select * from  ',item().NOME_SCHEMA_ORIGEM,'.',item().NOME_TABELA_ORIGEM)",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_FIM": {
													"value": {
														"value": "@replace(string(convertTimeZone(utcnow(),'UTC','E. South America Standard Time') ),'T',' ')",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_HORA_EXECUCAO": {
													"value": {
														"value": "@replace(string(convertTimeZone(pipeline().TriggerTime,'UTC','E. South America Standard Time') ),'T',' ')",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_INICIO": {
													"value": {
														"value": "@variables('startTime')",
														"type": "Expression"
													},
													"type": "String"
												},
												"ID_EXECUCAO": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ID_TRIGGER": {
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													},
													"type": "String"
												},
												"MENSAGEM_ERRO": {
													"value": null,
													"type": "String"
												},
												"NOME_ADF": {
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_CONTAINER": {
													"value": {
														"value": "CARGA_COMPLETA",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_ORIGEM": {
													"value": {
														"value": "@item().NOME_KEYVAULT_SECRET",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_PIPELINE": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_PROCESSO": {
													"value": null,
													"type": "String"
												},
												"NOME_TABELA_ORIGEM": {
													"value": {
														"value": "@item().nome_tabela_origem",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_TRIGGER": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"QUANTIDADE_REGISTROS": {
													"value": {
														"value": "@activity('CARGA PARCIAL').output.rowsCopied",
														"type": "Expression"
													},
													"type": "String"
												},
												"TIPO_FINALIZACAO": {
													"value": {
														"value": "SUCESSO",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSQL_DB_Procedimentos",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "LOG PROCESSAMENTO PARCIAL ERRO",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CARGA PARCIAL",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.05:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[adf].[SP_LOG_PROCESSAMENTO]",
											"storedProcedureParameters": {
												"CODIGO_TABELA": {
													"value": {
														"value": "@item().codigo_tabela",
														"type": "Expression"
													},
													"type": "String"
												},
												"COMANDO_SQL": {
													"value": {
														"value": "@concat(' select * from  ',item().NOME_SCHEMA_ORIGEM,'.',item().NOME_TABELA_ORIGEM)",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_FIM": {
													"value": {
														"value": "@replace(string(convertTimeZone(utcnow(),'UTC','E. South America Standard Time') ),'T',' ')",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_HORA_EXECUCAO": {
													"value": {
														"value": "@replace(string(convertTimeZone(pipeline().TriggerTime,'UTC','E. South America Standard Time') ),'T',' ')",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_INICIO": {
													"value": {
														"value": "@variables('startTime')",
														"type": "Expression"
													},
													"type": "String"
												},
												"ID_EXECUCAO": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ID_TRIGGER": {
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													},
													"type": "String"
												},
												"MENSAGEM_ERRO": {
													"value": {
														"value": "@activity('CARGA PARCIAL').error.message",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_ADF": {
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_CONTAINER": {
													"value": {
														"value": "CARGA_COMPLETA",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_ORIGEM": {
													"value": {
														"value": "@item().NOME_KEYVAULT_SECRET",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_PIPELINE": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_PROCESSO": {
													"value": null,
													"type": "String"
												},
												"NOME_TABELA_ORIGEM": {
													"value": {
														"value": "@item().nome_tabela_origem",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_TRIGGER": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"QUANTIDADE_REGISTROS": {
													"value": {
														"value": "@activity('CARGA PARCIAL').output.rowsCopied",
														"type": "Expression"
													},
													"type": "String"
												},
												"TIPO_FINALIZACAO": {
													"value": {
														"value": "ERRO",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSQL_DB_Procedimentos",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "DATA_HORA_INICIO_COMPLETA",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "StartTime",
											"value": {
												"value": "@replace(string(convertTimeZone(utcnow(),'UTC','E. South America Standard Time') ),'T',' ')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "CARGA COMPLETA",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "DATA_HORA_INICIO_COMPLETA",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.10:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "@concat(' select * from  ',item().NOME_SCHEMA_ORIGEM,'.',item().NOME_TABELA_ORIGEM)",
													"type": "Expression"
												},
												"partitionOption": "None",
												"convertDecimalToInteger": false,
												"queryTimeout": "02:00:00"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ORACLE_DINAMICO",
												"type": "DatasetReference",
												"parameters": {
													"NOME_KEYVAULT_SECRET": "@item().NOME_KEYVAULT_SECRET",
													"schema_name": "@item().NOME_SCHEMA_ORIGEM",
													"table_name": "@item().NOME_TABELA_ORIGEM"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DESTINO_TABELAS_ADF",
												"type": "DatasetReference",
												"parameters": {
													"Schema_Destino": {
														"value": "@item().NOME_SCHEMA_DESTINO",
														"type": "Expression"
													},
													"Tabela_Destino": {
														"value": "@item().NOME_TABELA_DESTINO",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "LOG PROCESSAMENTO COMPLETA SUCESSO",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CARGA COMPLETA",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.05:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[adf].[SP_LOG_PROCESSAMENTO]",
											"storedProcedureParameters": {
												"CODIGO_TABELA": {
													"value": {
														"value": "@item().codigo_tabela",
														"type": "Expression"
													},
													"type": "String"
												},
												"COMANDO_SQL": {
													"value": {
														"value": "@concat(' select * from  ',item().NOME_SCHEMA_ORIGEM,'.',item().NOME_TABELA_ORIGEM)",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_FIM": {
													"value": {
														"value": "@replace(string(convertTimeZone(utcnow(),'UTC','E. South America Standard Time') ),'T',' ')",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_HORA_EXECUCAO": {
													"value": {
														"value": "@replace(string(convertTimeZone(pipeline().TriggerTime,'UTC','E. South America Standard Time') ),'T',' ')",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_INICIO": {
													"value": {
														"value": "@variables('startTime')",
														"type": "Expression"
													},
													"type": "String"
												},
												"ID_EXECUCAO": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ID_TRIGGER": {
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													},
													"type": "String"
												},
												"MENSAGEM_ERRO": {
													"value": null,
													"type": "String"
												},
												"NOME_ADF": {
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_CONTAINER": {
													"value": {
														"value": "CARGA_COMPLETA",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_ORIGEM": {
													"value": {
														"value": "@item().NOME_KEYVAULT_SECRET",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_PIPELINE": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_PROCESSO": {
													"value": null,
													"type": "String"
												},
												"NOME_TABELA_ORIGEM": {
													"value": {
														"value": "@item().nome_tabela_origem",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_TRIGGER": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"QUANTIDADE_REGISTROS": {
													"value": {
														"value": "@activity('CARGA COMPLETA').output.rowsCopied",
														"type": "Expression"
													},
													"type": "String"
												},
												"TIPO_FINALIZACAO": {
													"value": {
														"value": "SUCESSO",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSQL_DB_Procedimentos",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "LOG PROCESSAMENTO COMPLETA ERRO",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "CARGA COMPLETA",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.05:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[adf].[SP_LOG_PROCESSAMENTO]",
											"storedProcedureParameters": {
												"CODIGO_TABELA": {
													"value": {
														"value": "@item().codigo_tabela",
														"type": "Expression"
													},
													"type": "String"
												},
												"COMANDO_SQL": {
													"value": {
														"value": "@concat(' select * from  ',item().NOME_SCHEMA_ORIGEM,'.',item().NOME_TABELA_ORIGEM)",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_FIM": {
													"value": {
														"value": "@replace(string(convertTimeZone(utcnow(),'UTC','E. South America Standard Time') ),'T',' ')",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_HORA_EXECUCAO": {
													"value": {
														"value": "@replace(string(convertTimeZone(pipeline().TriggerTime,'UTC','E. South America Standard Time') ),'T',' ')",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_INICIO": {
													"value": {
														"value": "@variables('startTime')",
														"type": "Expression"
													},
													"type": "String"
												},
												"ID_EXECUCAO": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"ID_TRIGGER": {
													"value": {
														"value": "@pipeline().TriggerId",
														"type": "Expression"
													},
													"type": "String"
												},
												"MENSAGEM_ERRO": {
													"value": {
														"value": "@activity('CARGA COMPLETA').error.message",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_ADF": {
													"value": {
														"value": "@pipeline().DataFactory",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_CONTAINER": {
													"value": {
														"value": "CARGA_COMPLETA",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_ORIGEM": {
													"value": {
														"value": "@item().NOME_KEYVAULT_SECRET",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_PIPELINE": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_PROCESSO": {
													"value": null,
													"type": "String"
												},
												"NOME_TABELA_ORIGEM": {
													"value": {
														"value": "@item().nome_tabela_origem",
														"type": "Expression"
													},
													"type": "String"
												},
												"NOME_TRIGGER": {
													"value": {
														"value": "@pipeline().TriggerName",
														"type": "Expression"
													},
													"type": "String"
												},
												"QUANTIDADE_REGISTROS": {
													"value": {
														"value": "@activity('CARGA COMPLETA').output.rowsCopied",
														"type": "Expression"
													},
													"type": "String"
												},
												"TIPO_FINALIZACAO": {
													"value": {
														"value": "ERRO",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSQL_DB_Procedimentos",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Envio Erro ADF",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SE CARGA COMPLETA",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Send email",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "rodrigo.lima@grupohmaisbrasil.com.br",
									"Subject": "Falha ADF Tasy",
									"ErrorMessage": "Erro"
								}
							}
						}
					]
				}
			},
			{
				"name": "LIMPA TABELAS DESTINO",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LISTA ORIGEM DESTINO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LISTA ORIGEM DESTINO').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 30,
					"activities": [
						{
							"name": "LIMPA TABELA DESTINO",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.05:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('truncate table ',\nitem().NOME_SCHEMA_DESTINO,\n'.',\nitem().NOME_TABELA_DESTINO,\n' SELECT 0')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DESTINO_TABELAS_ADF",
									"type": "DatasetReference",
									"parameters": {
										"Schema_Destino": {
											"value": "@item().NOME_SCHEMA_DESTINO",
											"type": "Expression"
										},
										"Tabela_Destino": {
											"value": "@item().NOME_TABELA_DESTINO",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						}
					]
				}
			},
			{
				"name": "CARGA DW ON PREMISES",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.09:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "[dbo].[SP_TASY_SADALLA_CARGA_DW]",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "PROCESSA ETL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LISTA ORIGEM DESTINO').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 15,
					"activities": [
						{
							"name": "Executa Procedures",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().NOME_PROC",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_DB_Procedimentos",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "LISTA INDEX DISABLE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.05:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \nCONCAT('ALTER INDEX  ', A.index_name , ' ON ' ,a.schema_nm , '.' , A.table_nm, ' DISABLE ') as DISABLE_INDEX , \nCONCAT('ALTER INDEX  ', A.index_name  , ' ON ' ,a.schema_nm , '.' , A.table_nm, ' REBUILD ') as REBUILD_INDEX ,\nA.index_name ,a.schema_nm + '.' + A.table_nm as tb\nFROM index_aj_dw A\nINNER JOIN ADF.ctr_origem_destino B WITH(NOLOCK) ON A.TABLE_NM = B.NOME_TABELA_DESTINO\nWHERE A.schema_nm = 'dw'  AND B.TIPO_CARGA = 'COMPLETA' AND NOME_PLATAFORMA = 'TASY'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LISTA_TABELAS_ADF",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOR EACH DISABLE INDEX",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LISTA INDEX DISABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LISTA INDEX DISABLE').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DISABLE INDEX",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSQL_DB_Procedimentos",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@item().DISABLE_INDEX",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Data mart ON PREMISES",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DM_ProdDiaria_TASY_ONPREMISES",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Sadalla Prod Diaria",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LIMPA TABELAS DESTINO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DM_ProdDiaria_Tasy_Sadalla",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"StartTime": {
				"type": "String"
			},
			"DT_INICIO": {
				"type": "String"
			},
			"DT_FINAL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Warehouse/2_Pipeline_Cargas_DW"
		},
		"annotations": []
	}
}