pipeline/pipeline/CARGA_DINAMICA_ADF.json
{
	"name": "CARGA_DINAMICA_ADF",
	"properties": {
		"activities": [
			{
				"name": "LISTA ORIGEM DESTINO",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[adf].[sp_origem_destino]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LISTA_TABELAS_ADF",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LISTA ORIGEM DESTINO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "DATA_HORA_INICIO_COMPLETA",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "StartTime",
								"value": {
									"value": "@replace(string(convertTimeZone(utcnow(),'UTC','E. South America Standard Time') ),'T',' ')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CARGA COMPLETA",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "DATA_HORA_INICIO_COMPLETA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ORIGEM_TABELAS_ADF",
									"type": "DatasetReference",
									"parameters": {
										"schema_origem": {
											"value": "@item().NOME_SCHEMA_ORIGEM",
											"type": "Expression"
										},
										"tabela_origem": {
											"value": "@item().NOME_TABELA_ORIGEM",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DESTINO_TABELAS_ADF",
									"type": "DatasetReference",
									"parameters": {
										"Schema_Destino": {
											"value": "@item().NOME_SCHEMA_DESTINO",
											"type": "Expression"
										},
										"Tabela_Destino": {
											"value": "@item().NOME_TABELA_DESTINO",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "LOG PROCESSAMENTO COMPLETA SUCESSO",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CARGA COMPLETA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[SP_LOG_PROCESSAMENTO]",
								"storedProcedureParameters": {
									"CODIGO_TABELA": {
										"value": {
											"value": "@item().codigo_tabela",
											"type": "Expression"
										},
										"type": "String"
									},
									"COMANDO_SQL": {
										"value": {
											"value": "@concat(' select * from  ',item().NOME_SCHEMA_ORIGEM,'.',item().NOME_TABELA_ORIGEM)",
											"type": "Expression"
										},
										"type": "String"
									},
									"DATA_FIM": {
										"value": {
											"value": "@replace(string(convertTimeZone(utcnow(),'UTC','E. South America Standard Time') ),'T',' ')",
											"type": "Expression"
										},
										"type": "String"
									},
									"DATA_HORA_EXECUCAO": {
										"value": {
											"value": "@replace(string(convertTimeZone(pipeline().TriggerTime,'UTC','E. South America Standard Time') ),'T',' ')",
											"type": "Expression"
										},
										"type": "String"
									},
									"DATA_INICIO": {
										"value": {
											"value": "@variables('startTime')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ID_EXECUCAO": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ID_TRIGGER": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"MENSAGEM_ERRO": {
										"value": null,
										"type": "String"
									},
									"NOME_ADF": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOME_CONTAINER": {
										"value": {
											"value": "CARGA_COMPLETA",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOME_PIPELINE": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOME_PROCESSO": {
										"value": null,
										"type": "String"
									},
									"NOME_TABELA_ORIGEM": {
										"value": {
											"value": "@item().nome_tabela_origem",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOME_TRIGGER": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"QUANTIDADE_REGISTROS": {
										"value": {
											"value": "@activity('CARGA COMPLETA').output.rowsCopied",
											"type": "Expression"
										},
										"type": "String"
									},
									"TIPO_FINALIZACAO": {
										"value": {
											"value": "SUCESSO",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_DB_Procedimentos",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LOG PROCESSAMENTO COMPLETA ERRO",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CARGA COMPLETA",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[SP_LOG_PROCESSAMENTO]",
								"storedProcedureParameters": {
									"CODIGO_TABELA": {
										"value": {
											"value": "@item().codigo_tabela",
											"type": "Expression"
										},
										"type": "String"
									},
									"COMANDO_SQL": {
										"value": {
											"value": "@concat(' select * from  ',item().NOME_SCHEMA_ORIGEM,'.',item().NOME_TABELA_ORIGEM)",
											"type": "Expression"
										},
										"type": "String"
									},
									"DATA_FIM": {
										"value": {
											"value": "@replace(string(convertTimeZone(utcnow(),'UTC','E. South America Standard Time') ),'T',' ')",
											"type": "Expression"
										},
										"type": "String"
									},
									"DATA_HORA_EXECUCAO": {
										"value": {
											"value": "@replace(string(convertTimeZone(pipeline().TriggerTime,'UTC','E. South America Standard Time') ),'T',' ')",
											"type": "Expression"
										},
										"type": "String"
									},
									"DATA_INICIO": {
										"value": {
											"value": "@variables('startTime')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ID_EXECUCAO": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"ID_TRIGGER": {
										"value": {
											"value": "@pipeline().TriggerId",
											"type": "Expression"
										},
										"type": "String"
									},
									"MENSAGEM_ERRO": {
										"value": {
											"value": "@activity('CARGA COMPLETA').error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOME_ADF": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOME_CONTAINER": {
										"value": {
											"value": "CARGA_COMPLETA",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOME_PIPELINE": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOME_PROCESSO": {
										"value": null,
										"type": "String"
									},
									"NOME_TABELA_ORIGEM": {
										"value": {
											"value": "@item().nome_tabela_origem",
											"type": "Expression"
										},
										"type": "String"
									},
									"NOME_TRIGGER": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"QUANTIDADE_REGISTROS": {
										"value": {
											"value": "@activity('CARGA COMPLETA').output.rowsCopied",
											"type": "Expression"
										},
										"type": "String"
									},
									"TIPO_FINALIZACAO": {
										"value": {
											"value": "ERRO",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSQL_DB_Procedimentos",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"StartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Warehouse"
		},
		"annotations": []
	}
}