pipeline/pipeline/DW_ORACLE_MN.json
{
	"name": "DW_ORACLE_MN",
	"properties": {
		"activities": [
			{
				"name": "Busca Tabelas",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Dig Tabela NM_ORIGEM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT A.NOME_SERVIDOR,A.NOME_USUARIO,A.NOME_KEYVAULT_SECRET,A.NOME_SCHEMA_ORIGEM,A.NOME_TABELA_ORIGEM,A.NOME_SCHEMA_DESTINO,A.NOME_TABELA_DESTINO FROM ADF.ctr_origem_destino A WHERE A.NOME_TABELA_ORIGEM = ','''',variables('nm_tabela'),'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_DIN",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Dig Tabela NM_ORIGEM",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "nm_tabela",
					"value": "VW_BORDERO_TIT_REC"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Busca Tabelas').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Copy data Stage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('SELECT * FROM ',item().NOME_SCHEMA_ORIGEM,'.',item().NOME_TABELA_ORIGEM)",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Oracle_Dinamico",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@item().NOME_SCHEMA_ORIGEM",
											"type": "Expression"
										},
										"table": {
											"value": "@item().NOME_TABELA_ORIGEM",
											"type": "Expression"
										},
										"NOME_KEYVAULT_SECRET": {
											"value": "@item().NOME_KEYVAULT_SECRET",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DW_SQL_DESTINO",
									"type": "DatasetReference",
									"parameters": {
										"SCHEMA_DESTINO": {
											"value": "@item().NOME_SCHEMA_DESTINO",
											"type": "Expression"
										},
										"NOME_TB_DESTINO": {
											"value": "@item().NOME_TABELA_DESTINO",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Call SP_CARGA_TBL",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('EXEC sp_carga_tbl_',replace(toUpper(variables('nm_tabela')),'VW_','' ))",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Busca Tabelas",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Busca Tabelas').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LIMPAR TABELA",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@concat('TRUNCATE TABLE ',item().NOME_SCHEMA_DESTINO,'.',item().NOME_TABELA_DESTINO)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"variables": {
			"nm_tabela": {
				"type": "String"
			},
			"tabela": {
				"type": "String"
			},
			"ref": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Data Warehouse"
		},
		"annotations": []
	}
}