pipeline/pipeline/DW_SQL_SERVER_MN.json
{
	"name": "DW_SQL_SERVER_MN",
	"properties": {
		"activities": [
			{
				"name": "Dig Nm Tabela",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "nm_tabela",
					"value": "v_bi_smm"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Limpa Tabela",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@if(equals(variables('keyvault'),'0'),activity('Busca Tabelas Detalhe').output.value,activity('Busca Tabelas').output.value)",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(' select * from  ',item().NOME_SCHEMA_ORIGEM,'.',item().NOME_TABELA_ORIGEM, ' as ', item().NOME_KEYVAULT_SECRET)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_DW",
									"type": "DatasetReference",
									"parameters": {
										"NOME_KEYVAULT_SECRET": {
											"value": "@item().NOME_KEYVAULT_SECRET",
											"type": "Expression"
										},
										"schema_name": "@item().NOME_SCHEMA_ORIGEM",
										"table_name": "@item().NOME_TABELA_ORIGEM"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DW_SQL_DESTINO",
									"type": "DatasetReference",
									"parameters": {
										"SCHEMA_DESTINO": {
											"value": "@item().NOME_SCHEMA_DESTINO",
											"type": "Expression"
										},
										"NOME_TB_DESTINO": {
											"value": "@item().NOME_TABELA_DESTINO",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Origem KeyVault",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Dig Nm Tabela",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(variables('keyvault')),1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Busca Tabelas Detalhe",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM adf.ctr_origem_destino WHERE HABILITA_ETL = ''S'' and NOME_PLATAFORMA = ''SMART'' AND NOME_TABELA_ORIGEM = ', '''', variables('nm_tabela'),'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQL_DIN",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Busca Tabelas",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM adf.ctr_origem_destino WHERE HABILITA_ETL = ''S'' and NOME_KEYVAULT_SECRET = ', '''', variables('keyvault'),'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQL_DIN",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "Origem KeyVault",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "keyvault",
					"value": "0"
				}
			},
			{
				"name": "Limpa Tabela",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@if(equals(variables('keyvault'),'0'),activity('Busca Tabelas Detalhe').output.value,activity('Busca Tabelas').output.value)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Clear Tables Azure",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSQL_DB_Procedimentos",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@concat('BEGIN TRY TRUNCATE TABLE ',item().NOME_SCHEMA_DESTINO,'.',item().NOME_TABELA_DESTINO,' END TRY BEGIN CATCH END CATCH')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"nm_tabela": {
				"type": "String"
			},
			"keyvault": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Warehouse"
		},
		"annotations": []
	}
}