pipeline/pipeline/Equalizacao DW Smart.json
{
	"name": "Equalizacao DW Smart",
	"properties": {
		"activities": [
			{
				"name": "Keyvault",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT\n    A.NOME_KEYVAULT_SECRET\nFROM ADF.ctr_origem_destino A\nWHERE A.NOME_PLATAFORMA = 'SMART'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AZ_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Limpar Tabela DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Keyvault').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Eq SMM Smart",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "SELECT \nestabelecimento\n,smm.smm_osm\n,smm.smm_num\n,smm.smm_osm_serie\n,smm.smm_tpcod\n,smm.smm_cod\n,smm.smm_qt\n,smm.smm_exec\n,smm.smm_sfat\n,smm.smm_fat\n,smm.smm_rep\n,smm.smm_str\n,smm.smm_med\n,smm.smm_vlch\n,smm.smm_vlr\n,smm.smm_rx\n,smm.smm_aux\n,smm.smm_via_acesso\n,smm.smm_fat_serie\n,smm.smm_fte_serie\n,smm.smm_fte_num\n,smm.smm_dthr_exec\n,smm.smm_num_pai\n,smm.smm_lac_num\n,smm.smm_hsp_num\n,smm.smm_cth_num\n,smm.smm_pac_reg\n,smm.smm_cnv_cod\n,smm.smm_amo_cod\n,smm.smm_obs_amostra\n,smm.smm_senha\n,smm.smm_pre_ccv_old\n,smm.smm_ind_urg\n,smm.smm_mns_serie\n,smm.smm_mns_num\n,smm.smm_hon_seq\n,smm.smm_hora_esp\n,smm.smm_pai_smk_tipo\n,smm.smm_pai_smk_cod\n,smm.smm_esp\n,smm.smm_yymm\n,smm.smm_dthr_pend\n,smm.smm_tipo_fatura\n,smm.smm_pre_ccv\n,smm.smm_pacote\n,smm.smm_dthr_coleta\n,smm.smm_usr_login_lanc\n,smm.smm_dthr_lanc\n,smm.smm_dthr_alter\n,smm.smm_mte_serie\n,smm.smm_mte_seq\n,smm.SMM_AJUSTE_VLR\n,smm.SMM_MOG_COD_AJUSTE\n,smm.SMM_PRECO_CUSTO\n,smm.SMM_SENHA_ATENDENTE\n,smm.SMM_SENHA_DTHR_LIB\n,smm.SMM_SMA_SERIE\n,smm.SMM_SMA_NUM\n,smm.SMM_ISM_SEQ\n,smm.SMM_MOTIVO_CANCELA\n,smm.SMM_DT_RESULT\n,smm.SMM_USR_LOGIN_COLETA\n,smm.SMM_LTA_COD\n,smm.SMM_OBS_PEND\n,smm.SMM_CTLE_CNV\n,smm.SMM_NO_RECALC\n,smm.SMM_AJUSTE_ESTORNO\n,smm.SMM_VLR_ESTORNO\n,smm.SMM_VLR_COPARTIC\n,smm.SMM_VLR_DESCONTO\n,smm.SMM_COD_AMOSTRA\n,smm.SMM_COD_EXTERNO\n,smm.SMM_SEQ_AMOSTRA\n,smm.SMM_SENHA_DTHR_VALID\n,smm.SMM_CML_FAT_SERIE\n,smm.SMM_CML_FAT_NUM\n,smm.SMM_CML_VLR\n,smm.SMM_IND_ANEXO\n,smm.smm_custo_oper\n,smm.smm_vl_filme\n,smm.smm_vl_custo_oper\n,smm.SMM_PSC_NUM\n,smm.smm_desc_conv\n,smm.smm_eti_cod_amostra\n,smm.SMM_CML_QT\n,smm.smm_sus_nf_num\n,smm.smm_mreq_1\n,smm.smm_mreq_2\n,smm.smm_mreq_3\n,smm.smm_ind_export_zero\n,smm.smm_ind_result_parcial\n,smm.SMM_CODAUT_AUT\n,smm.SMM_CODMSG_AUT\n,smm.SMM_DOCNUM_AUT\n,smm.smm_audito_status\n,smm.smm_audito_dthr\n,smm.smm_audito_usr_login\n,smm.smm_audito_obs\n,smm.smm_qt_frac\n,smm.smm_sus_nf_cnpj\n,smm.smm_tab_cod\n,smm.smm_sus_proc_esp\n,smm.smm_canc_mot_tipo\n,smm.smm_canc_mot_cod\n,smm.smm_perc_reduc\n,smm.smm_pre_ccv_bk\n,smm.smm_tab_cod_bk\n,smm.smm_tiss_tecnica\n,smm.smm_ordem_aih\n,smm.smm_rci_serie\n,smm.smm_rci_num\n,smm.smm_eci_funcao\n,smm.smm_sus_nf_cnpj_fabric\n,smm.smm_sus_nf_serie\n,smm.smm_sus_nf_lote\n,smm.smm_sus_reg_anvisa\n,smm.smm_ctle_cnv_hi\n,smm.smm_p_osm_serie\n,smm.smm_p_osm_num\n,smm.smm_p_smm_num\n,smm.smm_tiss_ind_guia_item\n,smm.smm_tiss_odonto_dente\n,smm.smm_tiss_odonto_regiao\n,smm.smm_tiss_odonto_face\n,smm.smm_gr_ses_id\n,smm.smm_perc_reduc_vlr_base\n,smm.smm_ind_prt\n,smm.smm_recipiente_lsf\n,smm.smm_rpi_serie\n,smm.smm_rpi_num\n,smm.smm_etq_lote_b2b\n,smm.SMM_SMK_PRECO_CUSTO\n,smm.SMM_TISS_STAT_AUT\n,smm.SMM_TISS_MDL\n,smm.smm_lib_cc\n,smm.smm_cod_amostra_ini\n,smm.smm_ind_rateio\n,smm.smm_pro_cod\n,smm.smm_cce_num\n,smm.smm_lip_id\n,smm.smm_gmr_cod\n,smm.smm_so_ind_aproveita\n,smm.smm_tam_subconta\n,smm.smm_vac_local_apl\n,smm.smm_vac_via_apl\n,smm.smm_vac_usr_apl\n,smm.smm_vac_usr_lanc\n,smm.smm_vac_dthr_lanc\n,smm.smm_lot_num\n,smm.smm_vcn_dose\n,smm.smm_senha_final\n,smm.smm_loc_cod\n,smm.smm_ind_sub_pacote\n,smm.smm_dse_id\n,smm.smm_vlr_sem_reduc\n,smm.smm_ind_click\n,smm.smm_epl_serie\n,smm.smm_epl_num\n,smm.smm_tiss_guia_operadora\n,smm.smm_dthr_exp\n,smm.smm_sus_vinculo\n,smm.smm_ipasgo_ato\n,smm.smm_token\n,smm.smm_cod_justificativa\n,smm.smm_status_confirmacao\n,smm.smm_funcao_ipasgo\n,smm.smm_assist_pediatra_ipasgo\n,smm.smm_sequencial\n,smm.smm_sequencial_autorizado\n,smm.smm_guia_pai\n,smm.smm_ind_exporta\n,smm.smm_exs_item_id\n,smm.smm_mot_tipo_cancel_rpi\n,smm.smm_mot_cod_cancel_rpi\n,smm.smm_obs_cancel_rpi\n,smm.smm_id_integra\n,smm.smm_dthr_ref_exp_tiss\n,smm.smm_pre_ccv_aut\nFROM FAT FAT WITH(NOLOCK)\nINNER JOIN v_bi_smm SMM WITH(NOLOCK) ON FAT.FAT_SERIE = SMM.SMM_FAT_SERIE AND FAT.FAT_NUM = SMM.SMM_FAT\nWHERE CAST(FAT.FAT_DEMI AS DATE) >= DATEADD(DAY,-90,CAST(GETDATE() AS DATE))\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AZSQL_MARCA",
									"type": "DatasetReference",
									"parameters": {
										"NM_KEYVAULT": {
											"value": "@item().NOME_KEYVAULT_SECRET",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AZSQL_DINAMICO",
									"type": "DatasetReference",
									"parameters": {
										"schema_destino": "stg",
										"tabela_destino": "tbl_smm"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Limpar Tabela DW",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Keyvault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "TRUNCATE TABLE stg.tbl_smm"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Merge Smm",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_carga_tbl_smm]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL_DB_Procedimentos",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Data Warehouse/Ajuste DW"
		},
		"annotations": []
	}
}