pipeline/pipeline/Log Tabelas Tasy.json
{
	"name": "Log Tabelas Tasy",
	"properties": {
		"activities": [
			{
				"name": "Busca SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM ADF.CTR_AJUSTE_DW",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AZ_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Busca SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Busca SQL').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Extração Log",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@replace(item().DS_SQL,'\"','')",
										"type": "Expression"
									},
									"partitionOption": "None",
									"convertDecimalToInteger": false,
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ORACLE_LOG",
									"type": "DatasetReference",
									"parameters": {
										"nm_keyvault": {
											"value": "@item().NOME_KEYVAULT",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DESTINO_TABELAS_ADF",
									"type": "DatasetReference",
									"parameters": {
										"Schema_Destino": {
											"value": "@item().NOME_SCHEMA_TABELA_DESTINO",
											"type": "Expression"
										},
										"Tabela_Destino": {
											"value": "@item().NOME_TABELA_DESTINO",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Data Warehouse/Ajuste DW Tasy"
		},
		"annotations": []
	}
}