pipeline/pipeline/prod_diaria_Delphi.json
{
	"name": "prod_diaria_Delphi",
	"properties": {
		"activities": [
			{
				"name": "DT_INICIO",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DT_INICIO",
					"value": {
						"value": "01/01/2020",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DT_FINAL",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "DT_FINAL",
					"value": {
						"value": "31/12/2022",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Prod Diario Sadalla",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DT_INICIO",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "DT_FINAL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT * FROM VW_PROD_DIARIA_DW WHERE DT_ENTRADA between ''',variables('DT_INICIO'), ''' and ''',variables('DT_FINAL'),'''')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "20:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AZ_TASY_SADALLA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_PROD_DIARIA_SADALLA",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"DT_INICIO": {
				"type": "String"
			},
			"DT_FINAL": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Teste"
		},
		"annotations": []
	}
}